.form {
    display: flex;
    align-items: center;
    width: 40rem;
    margin: 2rem auto;
}

.form input {
    font-size: 2rem;
    width: 70%;
    padding: 0.4rem;
    border-radius: 10px;
    border: none;
    margin-right: 0.4rem;
    background-color: #bbbbbb;
}

.form input:focus {
    outline: none;
}

.form button {
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #341861;
    border: 1px solid #4d2988;
    color: #cccaaa;
    padding: 0.5rem 1.5rem;
}

.form button:hover{
    background-color: #3f1d75;
    border-color: #3f1d75;
}